.container {
  justify-content: center;
  height: 80px;
}

.link {
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-brandBordeux-5, );
  font-size: var(--mantine-font-size-lg);
  transition: 'color 0.3s ease';
  font-weight: 600;

}

.link:hover {
  color: var(--mantine-color-brandBordeux-9) !important;
  background-color: transparent; /* Sécurité */
  font-weight: 600;
}