@keyframes stickyReveal {
  from { opacity: 0; transform: scale(1); }
  to { opacity: 1; transform: scale(1); }
}

.cardBase {
  position: sticky;
  height: 60vh;
  overflow: hidden;
  background-color: #f8f8f8;
}

.cardAnimated {
  height: 80vh;
  animation-name: stickyReveal;
  animation-duration: 1ms; 
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
  animation-fill-mode: both;
  box-shadow: 0px 0px 40px 20px #f8f8f8;
}