.wineCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.wineCard:hover {
  transform: translateY(-5px);
  box-shadow: var(--mantine-shadow-md) !important;
  border-color: var(--mantine-color-brandBordeux-light);
}