.wrapper {
  position: relative;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: 99% 80%;
  height: 100%;
}

.title{
  font-family: var(--font-reman) !important; 
  font-weight: 500;
  text-shadow:
  1px 1px 2px black,
  0 0 1em black,
  0 0 0.2em black;
}
.description{
  text-shadow:
  1px 1px 2px black,
  0 0 1em black,
  0 0 0.2em black;
}
.link {
  display: block;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

