.link {
  display: block;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}